@{
	Layout = "_DashboardLayout";
	ViewData["Title"] = "Suggesties";
	ViewData["Page"] = "Suggesties";
}

@model TALPA.Models.SuggestionsViewModel

@{
	string sort = (Model.Sort == "trending") ? "Trending" : (Model.Sort == "latest") ? "Nieuwste" : (Model.Sort == "popular") ? "Meest populair" : (Model.Sort == "least-popular") ? "Minst populair" : (Model.Sort == "oldest") ? "Oudste" : "";
}

<div class="d-flex align-items-center justify-content-between mb-3">
	<h1>Uitjesuggesties</h1>
	<a class="btn" data-bs-toggle="modal" data-bs-target="#newSuggestionModal">Nieuwe suggestie</a>
</div>
<div class="row">
	<div class="col-lg-3 mb-3">
		<div class="accordion accordion-flush" id="filterAccordion">
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#filter1">
						Zoeken
					</button>
				</h2>
				<div id="filter1" class="accordion-collapse collapse show">
					<div class="accordion-body">
						<input type="text" class="form-control mb-2" placeholder="Zoek uitje" value="@Model.Search" id="searchInput">
						<a class="btn w-100" id="searchButton">Zoek</a>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#filter2">
						Categorie
					</button>
				</h2>
				<div id="filter2" class="accordion-collapse collapse show">
					<div class="accordion-body">
						@foreach (var category in Model.Categories)
						{
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="@category" value="@category" @(Model.Filter.Contains(category) ? "checked" : "")>
								<label class="form-check-label text-capitalize" for="@category">@category</label>
							</div>
						}
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#filter3">
						Beperkingen
					</button>
				</h2>
				<div id="filter3" class="accordion-collapse collapse show">
					<div class="accordion-body">
						@foreach (var limitation in Model.Limitations)
						{
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="@limitation" value="@limitation" @(Model.Filter.Contains(limitation) ? "checked" : "")>
								<label class="form-check-label text-capitalize" for="@limitation">@limitation</label>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-9">
		<div class="d-flex align-items-end justify-content-between">
			<p class="m-0"></p>
			@if (Model.Search != "" || Model.Filter.Any())
			{
				<span>@Model.Results @(Model.Results == 1 ? "resultaat" : "resultaten")</span>
			} 
			else
			{
				<span>Alle suggesties</span>
			}
			@if (Model.Search != "")
			{
				<span>&nbspvoor "@Model.Search"</span>
			} 
			@if (Model.Filter.Any())
			{
				<span> &nbspmet filter "@string.Join(", ", Model.Filter)"</span>
			}
			<div class="dropdown ms-auto">
				<button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
					@sort
				</button>
				<ul class="dropdown-menu dropdown-menu-end">
					<li><a class="dropdown-item @(Model.Sort == "trending" ? "active" : "")" id="dropdown-item-sort" value="trending">Trending</a></li>
					<li><a class="dropdown-item @(Model.Sort == "popular" ? "active" : "")"  id="dropdown-item-sort" value="popular">Meest populair</a></li>
					<li><a class="dropdown-item @(Model.Sort == "least-popular" ? "active" : "")"  id="dropdown-item-sort" value="least-popular">Minst populair</a></li>
					<li><a class="dropdown-item @(Model.Sort == "latest" ? "active" : "")"  id="dropdown-item-sort" value="latest">Nieuwste</a></li>
					<li><a class="dropdown-item @(Model.Sort == "oldest" ? "active" : "")" id="dropdown-item-sort" value="oldest">Oudste</a></li>
				</ul>
			</div>
		</div>
		<hr />
		<div class="row" id="suggestions">
			@foreach (var suggestion in Model.Suggestions)
			{
				<div class="col-md-6 mb-4 d-none loader">
					<div class="card h-100">
						<div class="card-body">
							<div class="d-flex align-items-start justify-content-between mb-2">
								<h5 class="card-title mb-0" id="suggestion-title">@suggestion.Name</h5>
								<p class="card-text ps-3"><small class="text-muted text-nowrap">@suggestion.Votes stemmen</small></p>
							</div>
							<p class="card-text" id="suggestion-description">@suggestion.Description</p>
							<p class="mb-0">Categorie: @string.Join(", ", @suggestion.Categories)</p>
							<p>Beperkingen: @string.Join(", ", @suggestion.Limitations)</p>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>

<div class="modal fade" id="newSuggestionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="newSuggestionModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="newSuggestionModalLabel">Nieuwe suggestie</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form asp-controller="App" asp-action="SubmitSuggestion" method="post" id="form">
					@Html.AntiForgeryToken()
					<div class="mb-3">
						<label class="form-label">Suggestie</label>
						<input type="text" class="form-control" placeholder="Jou suggestie" id="suggestionInput">
						<div id="suggestionFeedback" class="invalid-feedback d-block"></div>
					</div>
					<div class="mb-3">
						<label class="form-label">Beschrijving</label>
						<textarea class="form-control" rows="5" placeholder="Beschrijf jou suggestie duidelijk" id="descriptionInput"></textarea>
						<div id="descriptionFeedback" class="invalid-feedback d-block"></div>
					</div>
					<div class="mb-3">
						<label class="form-label">Categorie</label>
						<select class="form-select" id="categoryInput" multiple data-allow-clear="true" multiple multiple data-max="3" data-allow-new="true" multiple>
							<option selected disabled hidden value="">Categorie van jou suggestie</option>
							@foreach (var category in Model.Categories)
							{
								<option value="@category">@category</option>
							}
						</select>
						<div id="categoryFeedback" class="invalid-feedback d-block"></div>
					</div>
					<div class="mb-3">
						<label class="form-label">Beperkingen</label>
						<select class="form-select" id="limitationInput" multiple data-allow-clear="true" multiple data-max="3" data-allow-new="true" multiple>
							<option selected disabled hidden value="">Beperkingen van jou suggestie</option>
							@foreach (var limitation in Model.Limitations)
							{
								<option value="@limitation">@limitation</option>
							}
						</select>
						<div id="limitationFeedback" class="invalid-feedback d-block"></div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<a class="btn btn-sec" data-bs-dismiss="modal">Terug</a>
				<a class="btn" id="submitButton">Suggestie maken</a>
			</div>
		</div>
	</div>
</div>

<script src="~/scripts/tags/module.js" type="module"></script>
<script src="~/scripts/suggestionForm.js"></script>
<script src="~/scripts/search.js"></script>
<script src="~/scripts/filter.js"></script>
<script src="~/scripts/sort.js"></script>
<script src="~/scripts/reload.js"></script>
<script src="~/scripts/scroll.js"></script>
<script src="~/scripts/highlight.js"></script>
<script>
	highlightSubstring("@Model.Search")
</script>