@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "Manager Dashboard";
    int state = 2;
}

<nav class="navbar navbar-expand-lg navbar-light bg-light py-3 px-lg-5 w-100">
    <a class="navbar-brand pl-lg-5" href="#">
        <img src="~/images/cgi.svg" class="brand pl-lg-5" height="35" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 pr-lg-5">
            <li class="nav-item active pr-lg-3 pl-lg-3">
                <a class="nav-link currentPage">Dashboard</a>
            </li>
            <li class="nav-item active pr-lg-3 pl-lg-3">
                <a class="nav-link" href="dashboard/medewerkers">Mijn Team</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0 pr-lg-5">
            <li class="nav-item active pr-lg-5">
                <div class="dropdown">
                    <a class="nav-link active text-capitalize" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        @Model.UserName
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <li>
                            <div class="row mx-3 d-flex align-items-center mb-2">
                                <div class="col-1 p-0 align-middle">
                                    <h3 class="mb-0"><i class="bi bi-person-circle align-middle"></i></h3>
                                </div>
                                <div class="col p-0">
                                    <p class="mb-0 ml-3 text-capitalize">@Model.UserName</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row mx-3 d-flex align-items-center mb-2">
                                <div class="col-1 p-0 align-middle">
                                    <h3 class="mb-0"><i class="bi bi-envelope-at align-middle"></i></h3>
                                </div>
                                <div class="col p-0">
                                    <p class="mb-0 ml-3">@Model.EmailAddress</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row mx-3 d-flex align-items-center mb-2">
                                <div class="col-1 p-0 align-middle">
                                    <h3 class="mb-0"><i class="bi bi-building-gear align-middle"></i></h3>
                                </div>
                                <div class="col p-0">
                                    <p class="mb-0 ml-3">@Model.Role</a>
                                </div>
                            </div>
                        </li>
                        <hr class="my-0 mb-1">
                        <li><a class="nav-link active px-3 mb-0" href="/account/logout">Afmelden</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="corner corner-rt position-absolute d-none d-xl-block"></div>
<div class="corner corner-lb position-absolute d-none d-xl-block"></div>

<div class="container-fluid main d-flex flex-column justify-content-center px-md-5">
    <div class="row">
        <h1 class="title">Manager Dashboard</h1>
    </div>
    <div class="row content-row h-75">
        <div class="col-xl section m-3 p-3 shadow h-100 w-100 overflow-hidden">

            @if (state == 1)
            {
                <h2 class="subtitle mb-3 d-block d-sm-inline">Stem Op Een Uitje</h2>
                <button type="button" class="btn d-block d-sm-inline float-sm-right" data-toggle="modal" data-target="#changeDeadline">Deadline Aanpassen</button>
                <p href="#" class="text-muted my-2"><span class="font-weight-bold">Deadline: </span>20 april 17:00</p>
                <div class="tableLine"></div>
                <div class="card1-text">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="row px-2">
                                        <div class="col p-0 ml-3 text-left">
                                            <h3 id="selectOption1Name">Paintball</h3>
                                            <p href="#" class="text-muted mb-0"><span class="font-weight-bold">Beperkingen: </span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="row px-2">
                                        <div class="col p-0 ml-3 text-left">
                                            <h3 id="selectOption2Name">Voetballen</h3>
                                            <p href="#" class="text-muted mb-0"><span class="font-weight-bold">Beperkingen: </span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="row px-2">
                                        <div class="col p-0 ml-3 text-left">
                                            <h3 id="selectOption3Name">Zwemmen</h3>
                                            <p href="#" class="text-muted mb-0"><span class="font-weight-bold">Beperkingen: </span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
            else if (state == 2) {
                <div class="text-center h-100 vertical-center-box">
                    <h2 class="subtitle mb-3">Nog Geen Uitjes Geplanned</h2>
                    <button type="button" class="btn" onclick="location.href='/dashboard/uitje';">Stemming Starten</button>
                </div>
            }
            else {
                <h2 class="subtitle mb-3">Aankomend Uitje</h2>
                <div class="tableLine"></div>
                <div class="overflow-auto card1-text py-3">
                    <h3>Paintball</h3>
                    <p>
                        Wij nodigen jullie uit voor ons aankomende bedrijfsuitje op [datum]. We zullen elkaar ontmoeten bij de achteringang van het gebouw om 9:00 uur. Van daaruit gaan we samen op pad voor een dag vol avontuur en teambuilding.
                        <br><br>
                        Tijdens dit uitje wordt er gezorgd voor een heerlijke lunch, dus je hoeft je geen zorgen te maken over eten. Het belooft een dag vol plezier en gezelligheid te worden, waarbij we de banden tussen collega's versterken en nieuwe herinneringen creëren.
                        <br><br>
                        We verwachten terug te zijn bij de achteringang van het gebouw rond 18:00 uur. Zorg ervoor dat je op tijd aanwezig bent, zodat we gezamenlijk kunnen vertrekken en optimaal van deze dag kunnen genieten.
                        <br><br>
                        Tot dan!
                    </p>
                    <p href="#" class="text-muted mb-3"><span class="font-weight-bold">Beperkingen: </span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed</p>
                    <p href="#" class="text-muted mb-0"><span class="font-weight-bold">Locatie: </span> Rachelsmolen 1, 5612 MA Eindhoven</p>
                </div>
            }

        </div>
        <div class="col-xl section m-3 p-3 shadow h-100 w-100 overflow-hidden">
            <h2 class="subtitle mb-3 d-block d-sm-inline">Mijn Team</h2>
            <div class="overflow-auto card2-text">
                <table class="table table-striped table-borderless align-middle h-100 mb-0">
                    <thead class="sticky-top top-0">
                        <tr class="bg-white">
                            <th scope="col" class="w-25">Naam</th>
                            <th scope="col" class="text-center">Email</th>
                            <th scope="col" class="text-center">Punten</th>
                        </tr>
                        <tr class="tableLine">
                            <th class="p-0"></th>
                            <th class="p-0"></th>
                            <th class="p-0"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="tableRow">Medewerker</th>
                            <td>mail@mail.com</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th scope="row" class="tableRow">Medewerker</th>
                            <td>mail@mail.com</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th scope="row" class="tableRow">Medewerker</th>
                            <td>mail@mail.com</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th scope="row" class="tableRow">Medewerker</th>
                            <td>mail@mail.com</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th scope="row" class="tableRow">Medewerker</th>
                            <td>mail@mail.com</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th scope="row" class="tableRow">Medewerker</th>
                            <td>mail@mail.com</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                    <tfoot class="bg-white fixed-bottom bottom-0 position-sticky">
                        <tr class="tableLine">
                            <th class="p-0"></th>
                            <th class="p-0"></th>
                            <th class="p-0"></th>
                        </tr>
                        <tr>
                            <th scope="col" class="w-25">Totaal</th>
                            <th scope="col" class="text-center"></th>
                            <th scope="col" class="text-center">0</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="changeDeadline" tabindex="-1" aria-labelledby="changeDeadlineLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form asp-controller="Activity" asp-action="changeDeadline" method="post">
                    @Html.AntiForgeryToken()
                    <div class="modal-header justify-content-center">
                        <h5 class="modal-title" id="changeDeadlineLabel">Deadline Aanpassen</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="dateInput">Deadline</label>
                            <input type="text" class="form-control py-4 scrollInput" id="dateInput" placeholder="Selecteer Een Dag" disabled>
                            <input type="text" id="hiddenDateInput" name="DeadlineDate" hidden>
                        </div>
                        <div id="datepicker" class="d-flex justify-content-center text-center"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-close" data-dismiss="modal">Annuleer</button>
                        <button type="submit" class="btn">Deadline Aanpassen</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="~/scripts/multiSelectManager.js"></script>
<script src="~/scripts/calendarManager.js"></script>