@using DAL
@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "All Tables";
}
@* @model WebApplication1.ViewModels.Address

<h2>Contact</h2>
<address>
    @Model.Street<br>
    @Model.City, @Model.State @Model.PostalCode<br>
    <abbr title="Phone">P:</abbr> 425.555.0100
</address> *@


@{
    var fetchAllTables = new FetchAllTables();
    var tableNames = FetchAllTables.GetTableNames();
}

<div class= "content">
    <h1>List of Tables</h1>
    <ul>
        @foreach (var tableName in tableNames)
        {

            <li>Name: @tableName</li>
        }
    </ul>
</div>
